 <div class="col-xs-6 col-md-3 thumbnail">
      <%= link_to image_tag("5.PNG", alt: "Rails logo"), commodity%>
      <div class="caption">
        <%= link_to commodity.commname, displayitem_path(commodity.id) %>
      </div>
  </div>